*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 100px;
}
.card-text{
    font-size: 15px;
}
.card-body{
    height: 90px;
}
.card-img-bottom{
    height: 150px;
}