*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("/img/bg-login.jpg");
    height: 100%;
}
.book{
    width: 300px;
    margin: 198px auto;
    text-align: center;
}
.book_logo{
    margin-bottom: 41px;
}

.book_input{
    width: 100%;
    height: 50px;
    border: 1px solid #fff;
    border-radius: 4px;
    margin: 10px 0;
}
.inputs{
    background:none;
    color: white;
    border: none!important;
    padding: 13px;
}
.inputs::placeholder{
    color: #fff;
    font-size: 14px;
    border: none!important;
}
.inputs:read-write{
    border: none;
}
.btn-book{
    width: 100%;
    height: 50px;
    color: #0D75FF;
    background: #fff;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    margin-top: 33px;
}